<section class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      
      <h1 class="fw-bold display-5 mb-3">Contacto</h1>
      <p class="text-muted mb-4">¿Tienes alguna duda? Escríbenos y te ayudaremos.</p>
      
      <img src="https://miro.medium.com/v2/resize:fit:2000/format:webp/0*mMlWOuN2vhqSFmoQ" alt="Contacto" class="img-fluid rounded-4 shadow-sm mb-5">

      <hr class="my-5 opacity-25">





      <form [formGroup]="contactForm" (ngSubmit)="enviarMensaje()">
            <div class="text-start">
                <div class="mb-3">
                    <label class="form-label small fw-bold">Nombre</label>
                    <input type="text" class="form-control" placeholder="Tu nombre" formControlName="nombre">
                </div>
                
                <div class="mb-3">
                    <label class="form-label small fw-bold">Email</label>
                    <input type="email" class="form-control" placeholder="correo@ejemplo.com" formControlName="email">
                </div>

                <div class="mb-4">
                    <label class="form-label small fw-bold">Mensaje</label>
                    <textarea class="form-control" rows="3" formControlName="mensaje"></textarea>
                </div>

                <input type="submit" class="btn btn-dark w-100 py-2 fw-bold shadow-sm" placeholder=" Enviar mensaje">

            
            </div>
      </form>

    </div>
  </div>
</section>